<div class="col-lg-12">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

    <p id="notice"><%= notice %></p>

    <div class="list-group">
      <p class="list-group-item">
        <strong>物件名:</strong>
        <%= @property.title %>
      </p>

      <p class="list-group-item">
        <strong>価格:</strong>
        <%= @property.price %>
      </p>

      <p class="list-group-item">
        <strong>住所:</strong>
        <%= @property.address %>
      </p>

      <p class="list-group-item">
        <strong>画像:</strong>
        <%= image_tag @property.image.url(:detail).to_s %>
      </p>

      <p class="list-group-item">
        <strong>間取り:</strong>
        <%= @property.layout %>
      </p>
    </div>

    <%= link_to '編集', edit_property_path(@property), :class => "btn btn-default" %> |
    <%= link_to '戻る', properties_path, :class => "btn btn-default" %>
  </div>
  <div class="col-lg-1"></div>
</div>
