<!DOCTYPE html>
<html>
<head>
  <title>Housemall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">HouseMall</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    </ul>
    <a class="navbar-brand" href="/">
      <% if vendor_signed_in? %>
      こんにちは、売主 <%= current_vendor.email %> さん
      <% elsif buyer_signed_in? %>
      こんにちは、買主 <%= current_buyer %> さん
      <% else %>
      こんにちは、未ログイン さん
      <% end %>
    </a>
    <ul class="nav navbar-nav navbar-right">
      <% if vendor_signed_in? %>
      <li><%= link_to "ログアウト", destroy_vendor_session_path, :method => :delete %></li>
      <% elsif buyer_signed_in? %>
      <li><%= link_to "ログアウト", destroy_buyer_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
